.page-title-bg {
  background-color: var(--color-accent-light);
  padding: 100px 70px;
}
.page-title-h1 {
  text-transform: capitalize;
  font-family: Josefin Sans;
  font-size: 36px;
  line-height: 42px;
  font-weight: 800;
  color: var(--color-accent-dark);
}
.page-title-sub {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.page-title-sub a {
  color: var(--color-primary);
  text-decoration: none;
}

.page-title-sub a:hover {
  opacity: 0.8;
  color: var(--color-primary);
}
